/* All page info */

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ac/3c/24/ac3c24dd394c581ebdcedbe73646a273.jpg");
  background-attachment: fixed;
}

ol {
      color: white;
      font-family: Arial;
}

h1 {
  font-family: Arial;
  font-size: 70px;
  text-align: center;
  color: white;
}

h2 {
  font-family: Arial;
  font-size: 40px;
  text-align: center;
  color: white;
}

h3 {
  font-family: Arial;
  font-size: 30px;
  color: white;
}

p {
  font-size: 18px;
  font-family: Arial;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: #f7806c;
}

/* Old Navigation bar code

div.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.nav li {
    float: left;
}

div.nav li a {
    font-family: Arial;
    font-size: 20px;
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
*/

/* Changes the hover colour */
li a:hover {
    background-color: #918b8a;
}

/* Main page Picture */

div.main-pic img {
  float: right;
  width: 450px;
  height: auto;
}

div.main-page p {
  font-family: Arial;
  font-size: 25px;
  line-height: 100px;
  text-align: center;
}

div.main-page h2 {}

/* This is the gallery page css */

div.gallery {
    margin: auto;
    border: 1px solid #ccc;
    float: center;
    width: 500px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 500px;
    height: auto;
    text-align: center;
}

div.desc {
    font-family: Arial;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    background-color: #333;
    color: white;
}

div.instagram {
    margin: auto;
    border: 1px solid #ccc;
    float: center;
    width: 500px;
}

/* Music Page */

div.music-pic img {
  float: right;
  width: 450px;
  height: auto;
}

/* Gaming Page */

div.gaming-right img {
  float: right;
  width: 500px;
  height: auto;
  clear: right;
  margin: 0px 20px;
}

div.gaming-left img {
  float: left;
  width: 500px;
  height: auto;
  margin: 0px 20px;
}

/* Dropdown nav bar */

div.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

div.container a {
    font-family: Arial;
    float: left;
    font-size: 20px;
    color: white;
    outline: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.dropdown {
    float: left;
    overflow: hidden;
}

div.dropdown .dropbtn {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

div.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover div.dropdown-content {
    display: block;
}

/* This is the retro gaming page css */

div.retro {
  font-size:12px;d
  isplay:inline-block;
  text-align:center;"
}
