/* All page info */

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ac/3c/24/ac3c24dd394c581ebdcedbe73646a273.jpg");
  background-attachment: fixed;
}
p {
      color: white;
}

ol {
      color: white;
      font-family: Arial;
}

h1 {
  font-family: Arial;
  font-size: 70px;
  text-align: center;
  color: white;
}

h2 {
  font-family: Arial;
  font-size: 40px;
  text-align: center;
  color: white;
}

p {
  font-size: 18px;
  font-family: Arial;
}

/* Navigation bar code */

div.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.nav li {
    float: left;
}

div.nav li a {
    font-family: Arial;
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Changes the hover colour */
li a:hover {
    background-color: #918b8a;
}

/* Main page Picture */

div.main-pic img {
  float: right;
  width: 500px;
  height: auto;
}

div.main-page p {
  font-family: Arial;
  font-size: 25px;
}

/* This is the gallery page css */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 500px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 500px;
    height: auto;
    text-align: center;
}

div.desc {
    font-family: Arial;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    color: white;
}
